// Colors

$color-white: #ffffff;
$color-black: #000000;

$color-solitude: #e9ebf0;
$color-granny-smith-apple: #1a365d;
$color-fern: #3499ff;
$color-dim-gray: #69758b;
$color-vista-blue: #d7ecff;
$color-white-smoke: #f8f8f8;
$color-dark-gray: #f6f6f6;

// Typography

$ff-mulish: "Noto Sans", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition: ease-in 0.3s;
