.description {
  position: relative;
  border-top: 1px solid $color-dark-gray;
  background: #1a365d;
  &__lamp {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
  }


  &_conteiner {
    padding-bottom: 10px;
    padding-top: 70px;
  }

  &-about {
    background: #fff;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    background: #1a365d;
    justify-content: center;

  }

     &__contacts {
      background-color: $color-fern;
      padding: 8px;
      max-width: 180px;
        text-align: center;
      border-radius: 6px;
     }

  &__wrapper-video {
    display: flex;
    gap: 20px;
    align-items: stretch;
    width: 100%;
  }

  &__texts {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;

    p {
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 40px 0;
      }
    }
  }

     &__logo-link {
      position: absolute;
       margin: 0;
       top: 6%;
       left: 3%;

       @include vp-767{
        top: 3%;
       }

       svg {
         height: 36px;
         width: 150px;
       }
     }


}
